# Telegram
TG_BUYER_TOKEN=your_buyer_bot_token
TG_SELLER_TOKEN=your_seller_bot_token
TG_ADMIN_TOKEN=your_admin_bot_token
TG_ADMIN_IDS=[123456789, 987654321]

# App
APP_PAYMENT_URL=your_payment_url

# Database
DB_URL=your_database_url